<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playoffstudio.myffedback">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>